body{background-image: url('https://static.vecteezy.com/system/resources/previews/009/469/218/non_2x/colorful-tourism-day-background-free-vector.jpg');
padding:100px;
display:block;

}
.container{
    max-width: 600px;
    margin:0 auto;
    padding:40px;
    background-color: whitesmoke;
    font-size: 20px;
      box-shadow: rgba(60,64,67,0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 10px;
}
h2{
    text-align: center;
}
input{padding:8px;
border-radius: 10px;
border:none;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
width: 100%;
font-size: 15px;
}
form div{
    padding:5px;
}
ul{
    list-style: none;
   
}
button{background-color: whitesmoke;
border:none;
line-height: 1.5;
 font-size: 15px;
}
button:hover{
    cursor:pointer;
  box-shadow: rgba(60,64,67,0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 1px solid white;
  padding:5px;
  border-radius: 5px;
}
#signup{
width: 50%;
margin-left: 130px;
padding-top:10px;
}
#passwordSign{
    margin-bottom: 10px;
}
#signin{
    width:50%;
    margin-left: 130px;
}